<footer class="bg-gray-900 text-white">
  <div
    class="container mx-auto flex flex-col md:flex-row items-center justify-between py-8"
  >
    <!-- About Global Lane Section -->
    <div class="mb-6 md:mb-0 pl-4">
      <h3 class="text-lg font-bold mb-4">About Study Hive</h3>
      <p class="text-sm max-w-xs">
        A collaborative learning platform built to enhance student productivity
        by enabling note-sharing, tracking learning progress, managing personal
        and group tasks, facilitating real-time communication through chat, and
        promoting focused study sessions using a Pomodoro timer for effective
        time management and goal achievement.
      </p>
    </div>

    <div class="flex flex-row">
      <!-- Quick Links Section -->
      <div class="mb-6 md:mb-0 pr-16">
        <h3 class="text-lg font-bold mb-4">Quick Links</h3>
        <ul class="space-y-2">
          <li><a href="/" class="hover:underline">Home</a></li>
          <li>
            <a href="/aboutus" class="hover:underline">About Us</a>
          </li>
          <li>
            <a href="/contactus" class="hover:underline">Contact Us</a>
          </li>
          <li>
            <a href="/features" class="hover:underline">Features</a>
          </li>
        </ul>
      </div>

      <!-- Contact Us Section -->
      <div class="mb-6 md:mb-0 pr-5">
        <h3 class="text-lg font-bold mb-4">Contact Us</h3>
        <ul class="space-y-2">
          <li>
            <a
              href="mailto:globallanemarketing@gmail.com"
              class="hover:underline"
              >anupc9605@gmail.com</a
            >
          </li>
          <li>
            <a href="tel:+91 8147052198" class="hover:underline">8762256023</a>
          </li>
          <li>
            <a href="tel:+966 564427890" class="hover:underline">8618027470</a>
          </li>
        </ul>

        <!-- Social Media Icons -->
      </div>
    </div>
  </div>
  <hr />
  <!-- Footer Bottom Text -->
  <p class="text-sm text-center mt-4 pb-4">
    &copy; 2024 Study Hive. All rights reserved.
  </p>
</footer>
