<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Features</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
  </head>
  <body class="bg-gray-300">
    <div>
      <!--Header Section-->
      <%- include('partials/header') %>
    </div>
    <div>
      <section class="text-gray-600 bg-gray-300 body-font">
        <div class="container px-5 py-24 mx-auto">
          <!-- 1 -->
          <div
            class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col"
            data-aos="fade-right"
            data-aos-duration="1000"
          >
            <div
              class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center justify-center rounded-full bg-gray-300 text-indigo-500 flex-shrink-0"
            >
              <img src="images/Fea_Timer.png" alt="" />
            </div>
            <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
              <h2 class="text-black font text-lg title-font font-bold mb-2">
                Pomodoro Timer
              </h2>
              <p class="leading-relaxed text-base mb-3">
                Blue bottle crucifix vinyl post-ironic four dollar toast vegan
                taxidermy. Gastropub indxgo juice poutine.
              </p>
              <a href="/pomodoro"
                ><button
                  class="inline-flex items-center bg-gray-800 border-0 py-1 px-3 focus:outline-none hover:bg-gray-700 rounded text-base mt-4 md:mt-0 text-white"
                >
                  Explore
                  <svg
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    class="w-4 h-4 ml-1"
                    viewBox="0 0 24 24"
                  >
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                  </svg></button
              ></a>
            </div>
          </div>
          <!-- 2 -->

          <div
            class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col"
            data-aos="fade-left"
            data-aos-duration="1000"
          >
            <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
              <h2
                class="text-gray-900 text-lg title-font font-bold font-medium mb-2"
              >
                Progress Tracker
              </h2>
              <p class="leading-relaxed text-base mb-3">
                Blue bottle crucifix vinyl post-ironic four dollar toast vegan
                taxidermy. Gastropub indxgo juice poutine.
              </p>
              <a href="\features"
                ><button
                  class="inline-flex items-center bg-gray-800 border-0 py-1 px-3 focus:outline-none hover:bg-gray-700 rounded text-base mt-4 md:mt-0 text-white"
                >
                  Explore
                  <svg
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    class="w-4 h-4 ml-1"
                    viewBox="0 0 24 24"
                  >
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                  </svg></button
              ></a>
            </div>
            <div
              class="sm:w-32 sm:order-none order-first sm:h-32 h-20 w-20 sm:ml-10 inline-flex items-center justify-center rounded-full bg-gray-300 text-indigo-500 flex-shrink-0"
            >
              <img src="images/progressprogress.png" alt="" class="w-40 h-36" />
            </div>
          </div>

          <!-- 3 -->
          <div
            class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col"
            data-aos="fade-right"
            data-aos-duration="1000"
          >
            <div
              class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center justify-center rounded-full bg-gray-300 text-indigo-500 flex-shrink-0"
            >
              <img src="images/to-do-list.png" alt="" />
            </div>
            <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
              <h2
                class="text-gray-900 text-lg title-font font-bold font-medium mb-2"
              >
                ToDo List
              </h2>
              <p class="leading-relaxed text-base mb-3">
                Blue bottle crucifix vinyl post-ironic four dollar toast vegan
                taxidermy. Gastropub indxgo juice poutine.
              </p>
              <a href="/to-do-list"
                ><button
                  class="inline-flex items-center bg-gray-800 border-0 py-1 px-3 focus:outline-none hover:bg-gray-700 rounded text-base mt-4 md:mt-0 text-white"
                >
                  Explore
                  <svg
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    class="w-4 h-4 ml-1"
                    viewBox="0 0 24 24"
                  >
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                  </svg></button
              ></a>
            </div>
          </div>
          <!-- 4 -->
          <div
            class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-5 border-gray-200 sm:flex-row flex-col"
            data-aos="fade-left"
            data-aos-duration="1000"
          >
            <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
              <h2 class="text-gray-900 text-lg title-font font-medium mb-2">
                Live Chat
              </h2>
              <p class="leading-relaxed text-base mb-3">
                Blue bottle crucifix vinyl post-ironic four dollar toast vegan
                taxidermy. Gastropub indxgo juice poutine.
              </p>
              <a href="/chat"
                ><button
                  class="inline-flex items-center bg-gray-800 border-0 py-1 px-3 focus:outline-none hover:bg-gray-700 rounded text-base mt-4 md:mt-0 text-white"
                >
                  Explore
                  <svg
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    class="w-4 h-4 ml-1"
                    viewBox="0 0 24 24"
                  >
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                  </svg></button
              ></a>
            </div>
            <div
              class="sm:w-32 sm:order-none order-first sm:h-32 h-20 w-20 sm:ml-10 inline-flex items-center justify-center rounded-full bg-gray-300 text-indigo-500 flex-shrink-0"
            >
              <img src="images/chat.png" alt="" />
            </div>
          </div>
        </div>
      </section>
    </div>

    <!--Footer Section-->
    <%- include('partials/footer') %>

    <!--Scripts-->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
