<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Study Hive</title>
    <link rel="stylesheet" href="signUp.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body
    class="bg-cover bg-center h-screen"
    style="
      background-image: url('https://c0.wallpaperflare.com/preview/955/464/977/backgrounds-flatlay-craft-diy-school.jpg');
    "
  >
    <!-- Header Section -->
    <div><%- include('partials/header') %></div>

    <!-- Main Content -->
    <div class="flex items-center justify-center h-screen">
      <!-- Added pt-16 to avoid overlap with the navbar -->
      <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md">
        <div>
          <h2 class="text-2xl font-bold mb-6">Login to Your Account</h2>
          <form action="/login" method="post">
            <div class="mb-4">
              <label
                for="login-email"
                class="block text-sm font-medium text-gray-700"
                >Email Address</label
              >
              <input
                type="email"
                id="login-email"
                name="email"
                class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                required
              />
            </div>
            <div class="mb-6">
              <label
                for="login-password"
                class="block text-sm font-medium text-gray-700"
                >Password</label
              >
              <input
                type="password"
                id="login-password"
                name="password"
                class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                required
              />
            </div>
            <p style="color: red; margin-bottom: 10px"><%= errorMessage %></p>
            <button
              type="submit"
              class="w-full py-2 px-4 bg-indigo-600 text-white font-semibold rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
            >
              Login
            </button>
            <p class="mt-4 text-center text-sm text-gray-600">
              Don't have an account?
              <button
                type="submit"
                class="text-indigo-600 hover:text-indigo-700"
              >
                <a href="/signup">Sign Up</a>
              </button>
            </p>
          </form>
        </div>
      </div>
    </div>
    <!--Footer Section-->
    <%- include('partials/footer') %>
  </body>
</html>
