body {
  background-image: url(../images/dash1.png);
  background-size: cover;
  background-position: center;
}

.animated-font-gradient {
  font-size: 1.1rem;
  font-weight: 900;
  background: linear-gradient(270deg, #266208, #86c111, #046f34);
  background-size: 200% 200%;
  animation: gradient 6s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
